#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    z-index: 10;
    backdrop-filter: blur(5px);
    opacity: 0;
    animation: animateBackdrop 500ms ease-in forwards;
}

@keyframes animateBackdrop {
    to{
        opacity: 1;
    }
}